<div class="container">
    <header id="header">
        <img id="header-img" src="https://upload.wikimedia.org/wikipedia/commons/a/ab/Naughty_Dog_logo.svg">
        
        <nav id="nav-bar">
            <li><a class="nav-link" href="#body">Making the Last of Us</a></li>
            <li><a class="nav-link" href="#games">Games</a></li>
            <li><a class="nav-link" href="#form">Subscribe</a></li>
        </nav>
        
        
        
    </header>
    <div class="burger">
        <div id="hamburger" (click)="openNav($event)"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>

        

    <div id="body">
        <div class="vid animation" #videocontainer>
            <div class="video-1 all-videos">
                <iframe id="1" class="video" src="https://www.youtube.com/embed/fhMma6QzR3E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="video-2 all-videos">
                <iframe id="2" class="video" src="https://www.youtube.com/embed/mRj3B3GY9KM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
            <div class="video-3 all-videos">
                <iframe id="3" class="video" src="https://www.youtube.com/embed/X0VubwgS2Y4?list=WL" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>

        <a id="left" (mousedown)="slideLeft()" href="#" class="video-buttons">&#8249;</a>
        <a id="right" (mousedown)="slideRight()" href="#" class="video-buttons">&#8250;</a>
        <p class="helper"><span class="arrow">&#171;</span>Swipe<span class="arrow">&#187;</span></p>
   
        <div id="games">
            <h2>Games from Naughty Dog</h2>
            <div class="game">
                <a href="https://www.playstation.com/en-us/games/jak-and-daxter-ps4/" target="_blank">
                    <img class="image" src="https://vignette.wikia.nocookie.net/jakanddaxter/images/e/ee/The_Precursor_Legacy_front_cover_%28US%29.png/revision/latest/scale-to-width-down/349?cb=20140415184354">
                    <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.unchartedthegame.com/en-us/games/uncharted-collection/" target="_blank">
                    <img class="image" src="https://vignette.wikia.nocookie.net/uncharted/images/a/aa/Drake%27s_Fortune_front_cover_%28US%29.png/revision/latest/scale-to-width-down/350?cb=20200408002734">
                    <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.unchartedthegame.com/en-us/games/uncharted-collection/" target="_blank">
                    <img class="image" src="https://vignette.wikia.nocookie.net/uncharted/images/b/be/Among_Thieves_front_cover_%28US%29.png/revision/latest/scale-to-width-down/350?cb=20200222175639">
                <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.unchartedthegame.com/en-us/games/uncharted-collection/" target="_blank">
                    <img class="image" src="https://vignette.wikia.nocookie.net/uncharted/images/6/66/Drake%27s_Deception_front_cover.png/revision/latest/scale-to-width-down/350?cb=20200408004736">
                <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.unchartedthegame.com/en-us/games/uncharted-4/" target="_blank">
                    <img class="image" src="https://vignette.wikia.nocookie.net/uncharted/images/5/5e/A_Thief%27s_End_front_cover.png/revision/latest/scale-to-width-down/350?cb=20200408011301">
                <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.unchartedthegame.com/en-us/games/uncharted-the-lost-legacy/" target="_blank">
                    <img class="image" src="https://vignette.wikia.nocookie.net/uncharted/images/7/7c/The_Lost_Legacy_front_cover_%28US%29.png/revision/latest/scale-to-width-down/350?cb=20190516034726">
                <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.playstation.com/en-us/games/the-last-of-us-remastered-ps4/" target="_blank">
                    <img class="image" src="https://images-na.ssl-images-amazon.com/images/I/51fR72yjSFL.jpg">
                <button class="buy-btn" type="submit">Buy Now</button>
                </a>
            </div>
            <div class="game">
                <a href="https://www.thelastofus.playstation.com/" target="_blank">
                    <img class="image" src="https://d2091xei11q49h.cloudfront.net/D502C9DF-6967-8F77-1671-FC36E508B027.jpg">
                <button class="buy-btn" type="submit">Pre-Order</button>
                </a>
            </div>
        </div>
        
        <form id="form" [formGroup]="subscribeForm" (ngSubmit)="onSubmit()">
            <h3>Subscribe for the latest News!</h3>
            <label>
                Email: </label>
            <input type="text" class="form-control" formControlName="email">
            <button type="submit" class="btn btn-primary" [disabled]="!subscribeForm.valid">Subscribe</button>
            <p>{{ subbed }}</p>
        </form>
        <div id="top">
            <a href="#body">Back to Top</a>
        </div>
    </div>
</div>